.inp-box input {
  transition: box-shadow 0.3s ease;
}

.inp-box input:focus {
  box-shadow: 0 0 8px var(--primary-color);
}

.filters input {
  width: 100%;
}

@media (max-width: 768px) {
  .dashboard-con {
    flex-direction: column;
  }

  .dashboard-summary {
    max-width: 100%;
  }
}
